body{
    margin: 0;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
#input-el{
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}
#btn-el{
    margin-top: 5px;
    background-color: #5f9341;
    padding: 5px 20px;
    border: none;
    color: white;
    font-weight: bold;
}
ul{
    margin-top: 20px;
    list-style:none;
    padding-left: 0;
}
li{
    margin-top: 5px;
}
a{
    color:#5f9341;
}